* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.homepage {
  background-image: url("./images/pic_1.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
}

.my-nav {
  left: 0px;
  top: 0px;
}

.smile-face-logo {
  height: 30px;
  width: 37px;
}

.smile-face-logo-text {
  height: 25px;
}

.homepage header {
  font-size: 12px;
}

.btn-primary {
  background-color: #c271ff;
  border: none;
}

.btn-primary:hover,
.btn-primary:active {
  opacity: 0.9;
  background-color: #c271ff;
}

.my-color {
  color: #c271ff;
}

.bg-primary {
  background-color: #c271ff;
}

.my-bg-color {
  background-color: #c271ff;
}

.people li img {
  width: 130px;
}

.register-button {
  border-radius: 20px;
}

.homepage-tittle {
  font-size: 5rem;
  font-weight: 900;
}

.quotes .profile {
  width: 120px;
  height: 120px;
}

.populars-videos .star {
  width: 14px;
  height: 14px;
}

.free-membership,
footer {
  background-color: #071629;
}

.arrow {
  height: 50px;
}
